<html ng-app="we99Login">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>WE-99 Login Page</title>
  <!-- build:css(.) ../styles/vendor.css -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbuild -->
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="../images/we99-logo.jpg">
    </div>
    <div class="col-md-1">
      &nbsp;
    </div>

    <div class="col-md-6" ng-controller="SignUpController" ng-init="loadUser()">
      <form name="confirmSignupForm" ng-submit="activate()">
        <h3>Activate your account</h3>

        <div class="row">
          <div class="col-md-6">
            <label for="suFirstName">First Name</label>
            <input type="text" placeholder="First Name" class="form-control"
                   id = "suFirstName"
                   name = "suFirstName"
                   required
                   ng-pattern="regexNamePattern"
                   ng-model="user.firstName"/>
          </div>
          <div class="col-md-6">
            <label for="suLastName">Last Name</label>
            <input type="text" placeholder="Last Name" class="form-control"
                   id = "suLastName"
                   name = "suLastName"
                   required
                   ng-pattern="regexNamePattern"
                   ng-model="user.lastName"/>
          </div>
        </div>
        <div class="alert alert-danger"
             ng-if="(confirmSignupForm.suFirstName.$dirty && confirmSignupForm.suFirstName.$invalid) ||
                (confirmSignupForm.suLastName.$dirty && confirmSignupForm.suLastName.$invalid)"> Invalid Name </div>

        <div class="row">
          <div class="col-md-8">
            <label for="suEmail">Email</label>
            <input type="email" placeholder="Email" class="form-control"
                   name="suEmail"
                   id = "suEmail"
                   value="{{user.email}}"
                   disabled="true" />
          </div>
        </div>
        <!--div class="alert alert-danger" ng-if="confirmSignupForm.suEmail.$dirty && confirmSignupForm.suEmail.$invalid"> Invalid Email </div-->

        <div class="row">
          <div class="col-md-8">
            <label for="suPassword">Password</label>
            <input type="password" class="form-control"
                   ng-model="user.password"
                   required
                   minlength="5"
                   id="suPassword"/>
          </div>
        </div>

        <div class="row">
          &nbsp;
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <input type="submit" value="Sign Up"
                   ng-class="{'btn-lg':true,
                                'btn-success':confirmSignupForm.$valid,
                                'btn-default':confirmSignupForm.$invalid}"
                   ng-disabled="confirmSignupForm.$invalid" />
          </div>

          <div class="col-md-6">
            <div class="alert alert-success" ng-show="showSuccessAlert">
              <button type="button" class="close"
                      data-ng-click="switchBool('showSuccessAlert')">&times;
              </button>
              <strong>Success</strong> {{successTextAlert}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- build:js(.) ../scripts/vendor.js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/uri.js/src/URI.js"></script>
<!-- endbuild -->
<script src="login.js"></script>
<!--<script src="../lib/URI.js" charset="utf-8"></script>-->

</body>
</html>
