<html ng-app="we99Login">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>WE-99 Login Page</title>
  <link rel="stylesheet"
        href="/we99/bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="/we99/index.html">
        <img src="/we99/images/we99-logo.jpg">
      </a>
    </div>
    <div class="col-md-1">
      &nbsp;
    </div>
    <div class="col-md-6" ng-controller="SignUpController">
      <h3>Enter your email below and we'll mail you a password reset link</h3>

      <div class="row">
        <div class="col-md-8">
          <input type="text" placeholder="Email" id="suEmail"
                 name="email" class="form-control" ng-model="user.email"/>
        </div>
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <input type="submit" value="Reset Password" class="btn-success btn-lg"
                 ng-click="sendPasswordReset()"/>
        </div>

        <div class="col-md-6">
          <div class="alert alert-success" ng-show="showSuccessAlert">
            <button type="button" class="close"
                    data-ng-click="switchBool('showSuccessAlert')">×
            </button>
            <strong>Success</strong> {{successTextAlert}}
          </div>
          <div class="alert alert-danger" ng-show="showDangerAlert">
            <button type="button" class="close"
                    data-ng-click="switchBool('showDangerAlert')">×
            </button>
            <strong>Error</strong> {{dangerTextAlert}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/we99/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/we99/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/we99/bower_components/angular/angular.min.js"></script>
<script src="login.js"></script>

</body>
</html>
