<html ng-app="we99Login">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>WE-99 Login Page</title>
  <link rel="stylesheet"
        href="/we99/bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="/we99/index.html">
        <img src="/we99/images/we99-logo.jpg">
      </a>
    </div>
    <div class="col-md-1">
      &nbsp;
    </div>
    <div class="col-md-6" ng-controller="SignUpController" ng-init="loadPWReset()">
      <h3>Reset your password</h3>

      <div class="row">
        <div class="col-md-8">
          <label for="suPassword">Password</label>
          <input type="text" placeholder="Password" class="form-control"
                 id="suPassword"
                 name="suPassword"
                 minlength="5"
                 ng-model="user.password"/>
        </div>
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <input type="submit" value="Reset"
                 required
                 ng-class="{'btn-lg':true,
                            'btn-success':user.password.length >= 5,
                            'btn-default':user.password.length < 5}"
                 ng-disabled="user.password.length >= 5"
                 ng-click="updatePassword()"/>
        </div>

        <div class="col-md-6">
          <div class="alert alert-success" ng-show="showSuccessAlert">
            <button type="button" class="close"
                    data-ng-click="switchBool('showSuccessAlert')">×
            </button>
            <strong>Success</strong> {{successTextAlert}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/we99/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/we99/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/we99/bower_components/angular/angular.min.js"></script>
<script src="login.js"></script>
<script src="/we99/lib/URI.js" charset="utf-8"></script>

</body>
</html>
