
<div class="row" ng-joy-ride="startJoyRide" config="tourConfig" on-finish="onFinish()" on-skip="onFinish()">
  <h2 class="col-md-11">Compound Results</h2>
  <!--<button class="btn btn-link btn-lg" ng-click="startTour()"><span class="glyphicon glyphicon-question-sign"></span>-->
  <button class="btn btn-default" ng-click="startTour()"><span class="glyphicon glyphicon-question-sign"></span> Tour
  </button>
</div>

<div style="margin: 15px" id="controls">
  Select Assay:
  <select ng-model="selectedExperiment" ng-options="opt as opt.name for opt in experiments"></select>
  Visualization Mode:
  <select ng-model="renderMode" ng-options="opt as opt for opt in renderModes"></select>

</div>

<div>
<div style="font-size: .8em; height: 600px; width: 300px; position: relative; float: left; border: 1px solid grey; margin-right: 15px; overflow-y: scroll">
  <table id="compoundTable" class="table table-condensed">
    <thead>
      <th>Compound</th>
      <th>EC50</th>
      <th>MIN</th>
      <th>MAX</th>
      <th>SLOPE</th>
      <th>Color</th>
    </thead>
    <tbody>
    <tr ng-repeat="compound in compounds"
        ng-class="{active:  (compound.compound) == selectedCompound.compound}"
        ng-click="toggleCompound(compound)">
      <td>{{ compound.compound }}</td>
      <td>{{ compound.EC50 }}</td>
      <td>{{ compound.MIN }}</td>
      <td>{{ compound.MAX }}</td>
      <td>{{ compound.SLOPE }}</td>
      <td>
        <svg style="position: relative; width:20px; height:20px;">
          <rect class="coloration" id="{{compound.compound}}" fill="white" width="20" height="20"/>
        </svg>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
<div style="width: 600px; height: 600px; position: relative; float: left;" id="compound-display-container">
  <svg style="width: 600px; height: 600px" id="composite-scatter-plot"></svg>
</div>
