<div class="row" ng-joy-ride="startJoyRide" config="tourConfig" on-finish="onFinish()" on-skip="onFinish()">
  <h2 class="col-md-11">Heatmap</h2>
  <!--<button class="btn btn-link btn-lg" ng-click="startTour()"><span class="glyphicon glyphicon-question-sign"></span>-->
  <button class="btn btn-default" ng-click="startTour()"><span class="glyphicon glyphicon-question-sign"></span> Tour
  </button>
</div>
<div style="margin-left: 100px" id="controls">
  <b>Select Assay:</b>
  <select ng-model="selectedExperiment" ng-options="opt as opt.name for opt in experiments"></select>
  <b>Coloring:</b>
  <select ng-model="coloring.colorOption" ng-options="opt as opt.colorName for opt in coloring.colorOptions"></select>

</div>
<div id="display-container">

  <div id="display-wrapper">
    <svg id="heat-map-display-box" class="heatmap-display-box"></svg>
  </div>

  <div style="width: 300px; float: left; height: 300px;" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a target="_blank" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Map Summary
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div style="height: 200px; overflow-y: scroll;" class="panel-body">
          <table class="table table-condensed">
            <thead>
              <th>Plate</th>
              <th>Z</th>
              <th>Z'</th>
              <th>POS</th>
              <th>NEG</th>
            </thead>
            <tbody>
              <tr ng-repeat="plate in data track by $index"
                  ng-class="{active:  (selectedIndex - 1) == $index}"
                  ng-click="selectPlate(plate.plateIndex)">
                <td>{{ plate.name }}</td>
                <td>{{ plate.z }}</td>
                <td>{{ plate.z_prime }}</td>
                <td>{{ plate.pos_avg }}</td>
                <td>{{ plate.neg_avg }}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a target="_blank" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Symbol Key
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <div>

            <p>
              <svg style="width: 25px; height: 25px">
                <rect width="25" height="25" style="fill:rgb(255,255,255);stroke-width:4;stroke:rgb(0,0,0)"></rect>
                <text x="10" y="15" width="20" height="20" font-family="Arial Black" font-size="13.2" style="text-anchor: middle;">C</text>
              </svg>
              Control
            </p>

            <p>
              <svg style="width: 25px; height: 25px">
                <rect width="25" height="25" style="fill:rgb(255,255,255);stroke-width:4;stroke:rgb(255,0,0)"></rect>
                <text x="10" y="15" width="20" height="20" font-family="Arial Black" font-size="13.2" style="text-anchor: middle;">E</text>
              </svg>
              Excluded Well
            </p>

            <p>
              <svg style="width: 25px; height: 25px">
                <rect width="25" height="25" style="fill:rgb(255,255,255);stroke-width:4;stroke:rgb(255,0,0)"></rect>
                <text x="13" y="15" width="20" height="20" font-family="Arial Black" font-size="13.2" style="text-anchor: middle;">E/C</text>
              </svg>
              Excluded Control
            </p>

          </div>
        </div>
      </div>

    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a target="_blank" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Color Key
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <svg id="gradients" style="width: 100px"></svg>
        </div>
      </div>
    </div>

  </div>
  <div style="clear: both;"></div>
  <div style="text-align: center">

  Showing results {{ pagination.from }} to {{ pagination.to }} of {{ pagination.of}}
  <button ng-click="pagination.doPaging('PREV')" type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
  </button>
  <button ng-click="pagination.doPaging('NEXT')" type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
  </button>

</div>

<div id="list-box"></div>
</div>
