<style>

  #list-box{
    height:200px;
    border: 1px solid lightgray;
    padding: 2px;
    position: relative;
  }

  #display-box{
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    height: 215px;
    width: 225px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #list-box .heatmap-title{
    font-size: 10px;
    text-anchor: left;
  }

  #list-box svg:hover{
    border: 2px solid black;

  }

  #list-box svg{

  }


</style>

<div id="display-wrapper"><svg id="display-box"></svg></div>
<div id="controls">
  Select Experiment:
  <select ng-model="selectedExperiment"  ng-options="opt as opt.name for opt in experiments"></select>
</div>

<div id="list-box" ></div>




