<div class="row" ng-joy-ride="startJoyRide" config="tourConfig" on-finish="onFinish()" on-skip="onFinish()">
  <h2 class="col-md-11">Well Quality Control</h2>
  <!--<button class="btn btn-link btn-lg" ng-click="startTour()"><span class="glyphicon glyphicon-question-sign"></span>-->
  <button class="btn btn-default" ng-click="startTour()"><span class="glyphicon glyphicon-question-sign"></span> Tour
  </button>
</div>
<div style="margin-left: 100px" id="controls">
  Select Assay:
  <select ng-model="selectedExperiment" ng-options="opt as opt.name for opt in experiments"></select>
</div>
<div style="text-align: center; margin-top: 15px;">
  <svg style="width: 300px; height: 30px; margin: auto;">
    <rect height="20" width="20" fill="rgb(117, 107, 177)" stroke="black"></rect>
    <text x="25" y="16" style="font-size: .8em;">Positive Control</text>
    <rect x="110" height="20" width="20" fill="rgb(255, 255, 255)" stroke="black"></rect>
    <text x="135" y="16" style="font-size: .8em;">Negative Control</text>
  </svg>

</div>
<div style="width: 600px; height: 600px"  id="display-container">
  <svg style="width: 600px; height: 600px" id="qc-scatter-plot"></svg>
</div>
