<div class="row" ng-joy-ride="startJoyRide" config="tourConfig" on-finish="onFinish()" on-skip="onFinish()">
  <h2 class="col-md-11">Available Compounds</h2>
  <!--<button class="btn btn-link btn-lg" ng-click="startTour()"><span class="glyphicon glyphicon-question-sign"></span>-->
  <button class="btn btn-default" ng-click="startTour()"><span class="glyphicon glyphicon-question-sign"></span> Tour
  </button>
</div>
<div>

  <p>Will only display the first {{maxCompounds}} compounds available</p>

  <label for="searchFilter">Filter:</label>
  <div style="max-width:250px;">
  <input id="searchFilter" type="text" ng-model="searchFilter" placeholder="Enter compound name">
    <table st-table="compoundList" class="table col-md-4" tooltip="List of available compounds">
      <thead>
      <tr>
        <th st-sort="name">Compound Name</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="compound in compoundList">
        <td>{{compound.name}}</td>
      </tr>
      </tbody>
    </table>

    <button id="addBtn" class="btn btn-primary" ng-click="importCompounds()" style="position: relative;">Add Compounds</button>
    </div>
</div>
</div>
