<h2>Available Compounds</h2>
<div>

  <p>Will only display the first {{maxCompounds}} compounds available</p>

  <label for="searchFilter">Filter:</label>
  <div style="max-width:250px;">
  <input id="searchFilter" type="text" ng-model="searchFilter" placeholder="Filter compounds by name...">
    <table st-table="compoundList" class="table col-md-4" tooltip="List of available compounds">
      <thead>
      <tr>
        <th st-sort="name">Compound Name</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="compound in compoundList">
        <td>{{compound.name}}</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" ng-click="importCompounds()">Add Compounds</button>
    </div>
</div>
</div>
