<div class="modal-header">
  <h3 class="modal-title">Add Compounds</h3>
</div>
<div class="modal-body">
  <div class="row" style="margin-left:10px;">
      <span class="view-sample">
        [<a href="sample_csv/sample-compound-list.csv" download>Sample csv</a>]
      </span>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- not sure if i should include application/csv as well -->
      <div ng-file-drop ng-file-select ng-model="files" class="drop-box"
           drag-over-class="dragover" ng-multiple="true" allow-dir="true"
           accept="'text/csv'">Drop compound csv file here or click to upload
      </div>
      <div ng-no-file-drop>File Drag/Drop is not supported for this browser
      </div>
      <ul>
        <li ng-repeat="f in files" style="font-size:smaller">{{f.name}}</li>
      </ul>

      <div>
        <p><b>{{uploadOutput}}</b></p>
      </div>
      <div style="padding-top:10px;">
        <button class="btn btn-primary" ng-click="dismiss()">Close</button>
      </div>

    </div>
  </div>
</div>
