<p>This is the admin/settings view.</p>
 <form role="form" name="settingsForm">
  <div class="form-group">
    <label for="emailPattern">Email Pattern:</label>
    <input type="text" class="form-control" id="emailPattern" placeholder="*@example.com">
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" placeholder="we99.2015@gmail.com">
  </div>
  <div class="form-group">
    <label for="port">Port:</label>
    <input type="number" class="form-control" id="port" placeholder="587">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="outgoingEmail">Outgoing Return Email:</label>
    <input type="email" class="form-control" id="outgoingEmail" placeholder="we99.2015@gmail.com">
  </div>
  <button type="submit" class="btn btn-primary">Apply</button>
</form>
