<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../lib/jquery-2.1.3.min.js" charset="utf-8"></script>
        <script src="../lib/simple_statistics.js" charset="utf-8"></script>
        <script src="../lib/d3.v3.min.js" charset="utf-8"></script>
        <script src="../lib/angular.min.js" charset="utf-8"></script>

        <style>

            body {
                font: 10px sans-serif;
            }

            .axis path,
            .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }

            .dot {
                stroke: #000;
            }

        </style>

    </head>
    <body ng-app='plate-tracker'>

        <div ng-controller="view-results">
            Experiment:
            <select ng-model="experiment"
                    ng-options="item.experiment for item in expComp">
            </select>
            Compound:
            <select ng-model="compound"
                    ng-options="item for item in experiment.compounds">
            </select>
        </div>

        <div id="render-box"></div>


        <script>

            function getExperimentCompounds() {
                return [{
                        experiment: "Influenza Vaccine",
                        compounds: ["NR20320", "NV42353"]
                    }];
            }

            function getDoseResponseData(compound) {
                var result = null;
                switch (compound) {
                    case "NR20320":
                        result = {
                            sample: "NR20320",
                            data: [
                                {dose: 0.1, response: 21.125, selected: true},
                                {dose: 0.1, response: 20.575, selected: true},
                                {dose: 0.25, response: 40.525, selected: true},
                                {dose: 0.5, response: 26.15, selected: true},
                                {dose: 0.75, response: 26.35, selected: true},
                                {dose: 0.75, response: 44.275, selected: true},
                                {dose: 1.0, response: 49.725, selected: true},
                                {dose: 1.0, response: 63.6, selected: true},
                                {dose: 1.0, response: 63.6, selected: true},
                                {dose: 10.0, response: 49.35, selected: true},
                                {dose: 10.0, response: 68.875, selected: true},
                                {dose: 100.0, response: 58.025, selected: true},
                                {dose: 100.0, response: 58.075, selected: true},
                                {dose: 1000.0, response: 68.025, selected: true},
                                {dose: 1000.0, response: 52.3, selected: true}
                            ]
                        };
                        break;
                    case "NV42353":
                        result = {
                            sample: "NV42353",
                            data: [
                                {dose: 0.1, response: 13.125, selected: true},
                                {dose: 0.1, response: 12.575, selected: true},
                                {dose: 0.25, response: 35.525, selected: true},
                                {dose: 0.5, response: 20.15, selected: true},
                                {dose: 0.75, response: 45.35, selected: true},
                                {dose: 0.75, response: 32.275, selected: true},
                                {dose: 1.0, response: 50.725, selected: true},
                                {dose: 1.0, response: 60.6, selected: true},
                                {dose: 1.0, response: 66.6, selected: true},
                                {dose: 10.0, response: 55.35, selected: true},
                                {dose: 10.0, response: 70.875, selected: true},
                                {dose: 100.0, response: 69.025, selected: true},
                                {dose: 100.0, response: 43.075, selected: true},
                                {dose: 1000.0, response: 80.025, selected: true},
                                {dose: 1000.0, response: 70.3, selected: true}
                            ]
                        };
                }


                result.data.forEach(function (d) {
                    d.dose = Math.log(d.dose);
                });

                return result;
            }

            function chartHandler(data) {


                var location = "#render-box";
                var margin = {top: 20, right: 20, bottom: 30, left: 40};
                var width = 960 - margin.left - margin.right;
                var height = 500 - margin.top - margin.bottom;

                var x = d3.scale.linear()
                        .range([0, width]);

                var y = d3.scale.linear()
                        .range([height, 0]);

                var xAxis = d3.svg.axis()
                        .scale(x)
                        .orient("bottom");

                var yAxis = d3.svg.axis()
                        .scale(y)
                        .orient("left");

                var svg = d3.select(location).append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                x.domain(d3.extent(data, function (d) {
                    return d.dose;
                })).nice();
                y.domain(d3.extent(data, function (d) {
                    return d.response;
                })).nice();

                svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis)
                        .append("text")
                        .attr("class", "label")
                        .attr("x", width)
                        .attr("y", -6)
                        .style("text-anchor", "end")
                        .text("Dose");

                svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)
                        .append("text")
                        .attr("class", "label")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 6)
                        .attr("dy", ".71em")
                        .style("text-anchor", "end")
                        .text("Response")

                // Writes the points of the scatter plot to the specified root
                // d3 selection.
                function writePoints(root) {
                    root.attr("class", "dot")
                            .attr("r", 3.5)
                            .attr("cx", function (d) {
                                return x(d.dose);
                            })
                            .attr("cy", function (d) {
                                return y(d.response);
                            })
                            .on("click", function (d) {
                                console.log(d);
                                d.selected = !d.selected;
                                redraw();
                                redrawLine();
                            })
                            .style("fill", function (d) {
                                if (d.selected) {
                                    return "red";
                                } else {
                                    return "white";
                                }
                            });
                }

                // Redraws existing points.
                function redraw() {
                    writePoints(svg.selectAll(".dot").data(data));
                }

                // Write the points initially.
                writePoints(svg.selectAll(".dot")
                        .data(data)
                        .enter().append("circle"));

                // Redraw regression.

                function redrawLine() {
                    var lin = ss.linear_regression().data(
                            data
                            .filter(function (d) {
                                return d.selected;
                            })
                            .map(function (d) {
                                return [d.dose, d.response];
                            })
                            ).line();

                    var lindata = x.domain().map(function (x) {
                        return {x: x, y: lin(x)};
                    });

                    svg.selectAll("line.reg").remove();

                    svg.append("svg:line")
                            .attr("x1", x(lindata[0].x))
                            .attr("y1", y(lindata[0].y))
                            .attr("x2", x(lindata[1].x))
                            .attr("y2", y(lindata[1].y))
                            .attr("class", "reg")
                            .style("stroke", "rgb(6,120,155)");

                }

                // Write the linear regression initally.

                // Derive a linear regression
                var lin = ss.linear_regression().data(
                        data
                        .filter(function (d) {
                            return d.selected;
                        })
                        .map(function (d) {
                            return [d.dose, d.response];
                        })
                        ).line();


                // Create a line based on the beginning and endpoints of the range
                var lindata = x.domain().map(function (x) {
                    return {x: x, y: lin(x)};
                });

                svg.append("svg:line")
                        .attr("x1", x(lindata[0].x))
                        .attr("y1", y(lindata[0].y))
                        .attr("x2", x(lindata[1].x))
                        .attr("y2", y(lindata[1].y))
                        .attr("class", "reg")
                        .style("stroke", "rgb(6,120,155)");


            }

            angular.module('plate-tracker', [])
                    .controller(
                            'view-results',
                            function ($scope) {

                                // Control Setup
                                $scope.expComp = getExperimentCompounds();
                                $scope.experiment = $scope.expComp[0];
                                $scope.compound = $scope.expComp[0].compounds[0];
                                
                                // D3 Setup
                                chartHandler(getDoseResponseData($scope.compound).data);

                                $scope.$watch('compound', function(newValue, oldValue) {
                                    $("#render-box").html("");
                                    chartHandler(getDoseResponseData($scope.compound).data);
                              });
                            }
                    );




        </script>
    </body>

</html>
