<div class="modal-header">
  <h3 class="modal-title">Add Plate Map</h3>
</div>
<div class="add-plate-map modal-body">
  <form>
    <div class="form-group-body">
      <label>Name:</label>
      <input type="text" class="form-control" ng-model="name" placeholder="Name" /> <br>
      <label>Description:</label>
      <textarea class="form-control" ng-model="description" placeholder="Enter description"></textarea><br>
    </div>
    <div>
      Download Sample CSV File: [<a href="sample_csv/sample-plate-map.csv" download="sample-plate-map.csv">here</a>]
    </div>
    <div class="upload-plate-map">
      <!-- Giant image Plate Map table here -->
      <div ng-file-drop ng-file-select ng-model="plateMapFile" class="drop-box"
           drag-over-class="dragover" ng-multiple="false" allow-dir="false"
           accept="text/csv">Drop plate map csv here <br>or<br> click to upload</div>
      <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
      Upload Plate mapping (as a csv file).
      <ul>
        <li ng-repeat="f in plateMapFile">{{f.name}}</li>
      </ul>
    </div>
  </form>
</div>
<div ng-show="errorTxt">
  <alert type="danger" close="closeErrorAlert()">{{errorTxt}}</alert>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="addPlateMap()">Create</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
