<div class="add-plate">
  <div class="modal-header">
    <h3 class="modal-title">{{experiment.name}} - Add Plate</h3>
  </div>
  <div class="modal-body">
    <form>
      <div>
        <label>Plate Type:
          <select ng-options="plateType as plateType.name for plateType in plateTypes"
                  ng-change="plateMapsForPlateType()"
                  ng-model="selectedPlateType"></select>
        </label> <span class="add-edit">[<a href="#">Add/Edit</a>]</span><br>
        <label>Plate Map:
          <select ng-options="plateMap.name for plateMap in plateMaps"
                  ng-model="selectedPlateMap"
                  ng-change="getMergeInfo()"></select>
        </label> <span class="add-edit">[<a href="#">Add/Edit</a>]</span>
      </div>
    </form>
    <!--<div class="mapping-table" ng-if="selectedPlateMap">-->
    <div class="mapping-table">
      <div class="table-fixed-height">
        <table st-table="labelTable" class="table table-striped">
          <thead>
            <tr>
              <th st-sort="label">Label</th>
              <th st-sort="type">Type</th>
              <th st-sort="count">Count</th>
              <th st-sort="replicates">Replicates</th>
              <th st-sort="compounds">Compound</th>
              <th>Initial Dose</th>
              <th>Dilution Factor</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in labelTable">
            <td>{{row.label}}</td>
            <td>{{row.wellType}}</td>
            <td>{{row.count}}</td>
            <td>
              <select ng-model="row.replicates"
                      ng-options="replicate for replicate in computeReplicates(row.count)">
                <option value="1">1</option>
              </select>
            </td>
            <td>
              <input type="text"
                     ng-model="row.dose.compound"
                     placeholder="Compound..."
                     typeahead="compound.name for compound in findCompoundMatches($viewValue) | limitTo:4">
              <i ng-show="loadingCompounds" class="glyphicon glyphicon-refresh"></i>
            </td>
            <td>
              <input type="number" ng-model="row.dose.amount.number"/>
              <select ng-options="option.value as option.key for option in UOMOptions" ng-model="row.dose.amount.units">
                <option value="MICROMOLAR">uM</option>
              </select>
            </td>
            <td><input type="number" ng-model="row.dilutionFactor"/></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="submitPlateSet()">Create</button>
    <span ng-click="cancel()">Cancel</span>
  </div>
</div>
