<div class="modal-header">
  <h3 class="modal-title">Add Plate Map</h3>
</div>
<div class="add-plate-map modal-body">
  <form>
    <div class="form-group-body">
      <label>Name:</label>
      <input type="text" class="form-control" ng-model="plateType.name" placeholder="Name" /> <br>
      <label>Description:</label>
      <textarea class="form-control" ng-model="plateType.description" placeholder="Enter description"></textarea><br>
    </div>
    <div>
      Download Sample Csv File: [<a>here</a>]
    </div>
    <div class="upload-plate-map">
      <!-- Giant image Plate Map table here -->
      <div ng-file-drop ng-file-select ng-model="plateMapFile" class="drop-box"
           drag-over-class="dragover" ng-multiple="false" allow-dir="false"
           accept="text/csv, text/*">Drop csv here <br>or<br> click to upload</div>
      <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
      <ul>
        <li ng-repeat="f in plateMapFile">{{f.name}}</li>
      </ul>
      Upload Plate mapping (csv)
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="addPlateMap()">Create</button>
  <span ng-click="cancel()">Cancel</span>
</div>
