<div class="addPlateSetWizard">
  <h2> Tell us about your exciting experiment!</h2>
  <div class="step-1" ng-if="step==='step1'">
    <div class="plate-set-name">
      <label>What is the name of your plate set:</label>
      <input type="text" placeholder="PlateSet Name..." ng-model="selected.name"/><br>
    </div>
    <div class="plate-set-type">
      What type of plate will you be working on:<br>
      <select ng-model="selected.plateType"
              ng-options="type as type.name for type in plateTypes">
        <!--<option>- SELECT - </option>-->
      </select>
      - [<a href="#/plate-type-editor">Manage Plate Types</a>]<br>
      <br>

      <div class="panel panel-primary plate-type-details">
        <div class="panel-body">
          <b>Plate Type: </b> {{selected.plateType.name}}
          ( {{selected.plateType.manufacturer ? selected.plateType.manufacturer : "Unknown Manufacturer"}}
          {{selected.plateType.material ? " : " + selected.plateType.material : ""}})<br>
          <b>Rows: </b>{{selected.plateType.dim.rows}}<br>
          <b>Cols:</b>{{selected.plateType.dim.cols}}<br>
          <b>Description:</b><br>
          {{selected.plateType.description}}<br>
        </div>
      </div>
      <div class="order-more">
        [<a>Need more of these?</a>]
      </div>
    </div>
 </div>

  <div class="row step-2" ng-if="step==='step2'">
  Provide the csv files with your compound assignments and their mappings: [ formatting details ]
    <div class="col-md-5 upload-compounds-table">
      <!-- Giant image Compounds table here -->
      <div ng-file-drop ng-file-select ng-model="compoundTableFile" class="drop-box"
           drag-over-class="dragover" ng-multiple="false" allow-dir="false"
           accept="text/csv, text/*">Drop csv here <br>or<br> click to upload</div>
      <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
      <ul>
        <li ng-repeat="f in compoundTableFile">{{f.name}}</li>
      </ul>
      Upload Compounds to ID Mapping (.csv)
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 upload-plate-map">
      <!-- Giant image Plate Map table here -->
      <div ng-file-drop ng-file-select ng-model="plateMapFile" class="drop-box"
           drag-over-class="dragover" ng-multiple="false" allow-dir="false"
           accept="text/csv, text/*">Drop csv here <br>or<br> click to upload</div>
      <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
      <ul>
        <li ng-repeat="f in plateMapFile">{{f.name}}</li>
      </ul>
      Upload Plate mapping (csv)
    </div>
  </div>





    <nav class="text-center" ng-switch="step">
      <hr>
      <button class="btn btn-default"
              ng-switch-when="step2"
              ng-click="changeStep('step1')">Back </button>
      <button class="btn btn-primary"
              ng-switch-when="step2"
              ng-click="changeStep('step3')"> Continue</button>
      <button class="btn btn-primary" \
              ng-switch-default
              ng-click="changeStep('step2')">Next</button>
    </nav>

</div>
