<div class="order-more-modal">
  <div class="modal-header">
    <h3 class="modal-title">Plate ordering instructions</h3>
  </div>
  <div class="modal-body">
    <dl>
      <dt>Name</dt>
      <dd>{{plateType.name}} - ({{plateType.id}})</dd>
      <dt>Description</dt>
      <dd>{{plateType.description}}</dd>
      <dt>Dimensions</dt>
      <dd>{{plateType.dim.rows}} rows &times; {{plateType.dim.cols}} columns</dd>
      <div class="order-instructions">
        <dt>Manufacturer</dt>
        <dd>
          {{plateType.manufacturer}}
          <span class="mfg-url" ng-if="plateType.link &amp;&amp; plateType.link.length > 0">
            [<a target="_blank" href="{{plateType.orderLink}}">Website</a>]
          </span>
        </dd>
        <div ng-if="{{plateType.orderingNotes}}">
          <dt>Ordering notes</dt>
          <dd>{{plateType.orderingNotes}}</dd>
        </div>
      </div>
    </dl>
  </div>
</div>
