<div class="select-template" ng-controller="PlateTypeEditorCtrl">
  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
      <tr>
        <th colspan="5"><input st-search="" class="form-control" placeholder="Search ..." type="text"/></th>
      </tr>
      <tr>
        <th st-sort="name">Name</th>
        <th st-sort="createdBy">Created By</th>
        <th st-sort="size">Size</th>
        <th st-sort="selected">Select</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in displayedCollection">
      <td>{{row.firstName}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.birthDate}}</td>
      <td>{{row.balance}}</td>
      <td>
        <button type="button" class="btn btn-sm btn-danger" ng-click="removeItem(row)">
          <i class="glyphicon glyphicon-remove-circle">
          </i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="btn-group" dropdown is-open="showAddTypeOptions">
    <button type="button" class="btn btn-small btn-success dropdown-toggle"
            dropdown-toggle="true">
      <i class="glyphicon glyphicon-plus">
        Add<span class="caret"></span>
      </i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="option in getPlateTypeOptions()">
        <a ng-click="showAddPlateTypeWizard(option)">{{option.name}}</a>
      </li>
      <hr>
      <li><a ng-click="showAddPlateTypeWizard()">Custom</a></li>
      <li><a ng-click="showAddPlateTypeWizard({name:'from file', fromFile:true})">From File</a></li>
    </ul>
  </div>
</div>
