<div class="list-platemaps">

  <div class="row" ng-joy-ride="startJoyRide" config="tourConfig" on-finish="onFinish()" on-skip="onFinish()">
    <h2 class="col-md-11">List of Plate Maps</h2>
    <button class="btn btn-link btn-lg" ng-click="startTour()"><span class="glyphicon glyphicon-question-sign"></span>
    </button>
  </div>

  <div id="plateMapTable" class="table-fixed-height">
    <table st-table="displayPlateMap" st-safe-src="plateMaps" class="table table-striped">
      <thead id="tableheader">
      <tr>
        <th st-sort="name">Name</th>
        <th st-sort="description">Description</th>
        <th st-sort="dim.rows">Rows x Cols (Wells)</th>
        <th>Action</th>
      </tr>
      <tr>
        <th colspan="5"><input id="searchbar" st-search="" class="form-control" placeholder="Search ..." type="text"/></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="map in plateMaps">
        <td>{{map.name}}</td>
        <td>{{map.description}}</td>
        <td>{{map.dim.rows + ' x ' + map.dim.cols}}</td>
        <td>
          <i class="glyphicon glyphicon-remove-circle" title="Delete" ng-click="removePlateMap(map)"></i>
          <!--<i class="glyphicon glyphicon-zoom-in" title="View Details" ng-click="viewPlateMap(row)"></i>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="modalSuccessMsg">
    <alert type="success" close="closeAlert()">{{modalSuccessMsg}}</alert>
  </div>
  <!-- Add Button -->
  <div id="addBtn1">
  <button id="addBtn" type="button" class="btn btn-small btn-success" style="position:relative;"
          ng-click="showAddPlateMap()">
    <i class="glyphicon glyphicon-plus"></i>Add
  </button>
  </div>
</div>
