<div class="select-template">
  <div class="row" ng-joy-ride="startJoyRide" config="tourConfig" on-finish="onFinish()" on-skip="onFinish()">
    <h2 class="col-md-11">List of Plate Types</h2>
    <!--<button class="btn btn-link btn-lg" ng-click="startTour()"><span class="glyphicon glyphicon-question-sign"></span>-->
    <button class="btn btn-default" ng-click="startTour()"><span class="glyphicon glyphicon-question-sign"></span> Tour
    </button>
  </div>

  <div class="table-fixed-height">
    <table id="plateTypeTable" st-table="displayPlateTypes" st-safe-src="plateTypes" class="table table-striped">
      <thead>
        <tr>
          <th st-sort="name">Name</th>
          <th st-sort="description">Description</th>
          <th st-sort="dim.rows">Rows x Cols (Wells)</th>
          <th st-sort="manufacturer">Manufacturer</th>
          <th st-sort="plateCount">Plates using this type</th>
          <th>Action</th>
        </tr>
       <tr>
        <th colspan="5"><input id="searchbar" st-search="" class="form-control" placeholder="Search ..." type="text"/></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in displayPlateTypes">
        <td>{{row.name}}</td>
        <td>{{row.description}}</td>
        <td>{{row.dim.rows + ' x ' + row.dim.cols}}</td>
        <td>{{row.manufacturer}}</td>
        <td>{{row.plateCount}}</td>
        <td>
        <i class="glyphicon glyphicon-remove-circle" title="Delete" ng-click="removePlateType(row)"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- Add Button -->
  <div id="addBtn" class="btn-group" dropdown is-open="showAddTypeOptions">
    <button type="button" class="btn btn-small btn-success dropdown-toggle"
            dropdown-toggle="true">
      <i class="glyphicon glyphicon-plus">
        Add<span class="caret"></span>
      </i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="option in getPlateTypeOptions()">
        <a ng-click="showAddPlateTypeWizard(option)">{{option.name}}</a>
      </li>
      <hr>
      <li><a ng-click="showAddPlateTypeWizard()">Custom</a></li>
      <!-- TODO maybe add from file functionality Later -->
      <!--<li><a ng-click="showAddPlateTypeWizard({name:'from file', fromFile:true})">From File</a></li>-->
    </ul>
  </div>
</div>
